In [76]:
import pandas as pd

In [77]:
data = pd.read_csv("market_data.csv")

In [78]:
data.columns

Index(['RepName', 'Day of Created_x', 'Customer Type', 'CustomerId',
       'Customer Name', 'Address 1_x', 'Area Name', 'City Name', 'District_x',
       'StateName_x', 'MobileNumber_x', 'Latlng_x', 'GST No_x', 'DealerId',
       'RepName_x', 'Day of Created Date', 'City Name_x', 'Area Name_x',
       'Dealer Name_x', 'Category Name_x', 'Sub-Category_x', 'Brand Name_x',
       'Dealer type', 'Rank', 'Sourcing Partner', 'SourcingPartnerType',
       'Credit Status_x', 'RepName_y', 'Day of Created_y', 'Dealer Name_y',
       'Address 1_y', 'Area Name_y', 'City Name_y', 'District_y',
       'StateName_y', 'MobileNumber_y', 'Latlng_y', 'Lot Size',
       'Customer Rating', 'Credit Rating', 'GST No_y', 'SiteId', 'Rep. Name',
       'Day of Created (sites)', 'Site Name_x', 'Address1 (sites)',
       'Area/Town', 'CityName', 'District Name_x', 'Pin Code', 'Lat.Lng.',
       'MobileNo.', 'Initial Construction Stage', 'Rep Name',
       'Day of Created (sitebrandmixlines)', 'Site Name_y', 'District Name_y',
       'Construction Stage', 'Category Name_y', 'Sub-Category_y',
       'Brand Name_y', 'Source Partner Name', 'Credit Status_y'],
      dtype='object')

In [79]:
data[['Category Name_x', 'Sub-Category_x', 'Brand Name_x','Rank']]

                    Category Name_x Sub-Category_x Brand Name_x  Rank
0                             STEEL       TMT BARS    ARS TMT\n     3
1                             STEEL       TMT BARS    ARS TMT\n     3
2                             STEEL       TMT BARS    ARS TMT\n     3
3                             STEEL       TMT BARS    ARS TMT\n     3
4                             STEEL       TMT BARS    ARS TMT\n     3
...                             ...            ...          ...   ...
14100  PLUMBING & BATHROOM FITTINGS    WATER TANKS   ASHIRVAD\n     1
14101  PLUMBING & BATHROOM FITTINGS    WATER TANKS   ASHIRVAD\n     1
14102  PLUMBING & BATHROOM FITTINGS    WATER TANKS   ASHIRVAD\n     1
14103  PLUMBING & BATHROOM FITTINGS    WATER TANKS   ASHIRVAD\n     1
14104  PLUMBING & BATHROOM FITTINGS    WATER TANKS   ASHIRVAD\n     1

[14105 rows x 4 columns]

In [80]:
df_1 = data[['CustomerId','Day of Created Date','Sub-Category_x']]

In [81]:
df_1.columns = ['customerid','date','product']

In [82]:
df_1.head()

   customerid            date   product
0       12082  6 October 2023  TMT BARS
1       12082  6 October 2023  TMT BARS
2       12082  6 October 2023  TMT BARS
3       12082  6 October 2023  TMT BARS
4       12082  6 October 2023  TMT BARS

In [83]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14105 entries, 0 to 14104
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerid  14105 non-null  int64
 1   date        14105 non-null  object
 2   product     14105 non-null  object
dtypes: int64(1), object(2)
memory usage: 330.7+ KB

In [84]:
import warnings
warnings.filterwarnings('ignore')

In [85]:
df_1['date'] = pd.to_datetime(df_1['date'])

In [86]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14105 entries, 0 to 14104
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerid  14105 non-null  int64
 1   date        14105 non-null  datetime64[ns]
 2   product     14105 non-null  object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 330.7+ KB

In [87]:
df_1.sort_values(by=['customerid','date'])

       customerid       date             product
13141       11883 2023-08-24  SWITCHES & SOCKETS
13142       11883 2023-08-24  SWITCHES & SOCKETS
13143       11883 2023-08-24  SWITCHES & SOCKETS
13144       11883 2023-08-24  SWITCHES & SOCKETS
13145       11883 2023-08-24  SWITCHES & SOCKETS
...           ...        ...                 ...
11888       12711 2023-08-25                 PPC
11889       12711 2023-08-25                 PPC
11890       12711 2023-10-04               TILES
11891       12711 2023-10-04               TILES
11892       12711 2023-10-04               TILES

[14105 rows x 3 columns]

In [88]:
unique_data = df_1.groupby(['customerid','date'])['product'].unique().agg(list).reset_index()
unique_data

     customerid       date                                            product
0         11883 2023-08-24  [SWITCHES & SOCKETS, WIRES & CABLES, PIPE FITT...
1         11885 2023-08-30  [LED, MCB, SWITCHES & SOCKETS, WIRES & CABLES,...
2         11889 2023-08-24                      [PPC, BINDING WIRE, TMT BARS]
3         11889 2023-10-31                                         [TMT BARS]
4         11891 2023-09-01  [BULBS, ELECTRICAL CONDUITS, LED, MCB, SWITCH ...
..          ...        ...                                                ...
378       12695 2023-08-24                      [PPC, BINDING WIRE, TMT BARS]
379       12695 2023-10-31                                         [TMT BARS]
380       12698 2023-10-09                      [PPC, BINDING WIRE, TMT BARS]
381       12711 2023-08-25                                              [PPC]
382       12711 2023-10-04                                            [TILES]

[383 rows x 3 columns]

In [89]:
with_duplicates = df_1.groupby(['customerid','date'])['product'].agg(list).reset_index()
with_duplicates

     customerid       date                                            product
0         11883 2023-08-24  [SWITCHES & SOCKETS, SWITCHES & SOCKETS, SWITC...
1         11885 2023-08-30  [LED, LED, LED, LED, LED, LED, LED, LED, MCB, ...
2         11889 2023-08-24  [PPC, PPC, PPC, PPC, PPC, PPC, BINDING WIRE, B...
3         11889 2023-10-31                               [TMT BARS, TMT BARS]
4         11891 2023-09-01  [BULBS, BULBS, BULBS, BULBS, BULBS, ELECTRICAL...
..          ...        ...                                                ...
378       12695 2023-08-24  [PPC, PPC, PPC, PPC, PPC, PPC, BINDING WIRE, B...
379       12695 2023-10-31                               [TMT BARS, TMT BARS]
380       12698 2023-10-09  [PPC, PPC, PPC, PPC, PPC, PPC, BINDING WIRE, B...
381       12711 2023-08-25      [PPC, PPC, PPC, PPC, PPC, PPC, PPC, PPC, PPC]
382       12711 2023-10-04                              [TILES, TILES, TILES]

[383 rows x 3 columns]

In [90]:
df_1.groupby(['customerid','date','product']).size().reset_index(name='counts').sort_values(by='counts',ascending=False)

      customerid       date             product  counts
909        12519 2023-09-01      WIRES & CABLES     135
526        12223 2023-09-01      WIRES & CABLES     108
96         11928 2023-09-06  SWITCHES & SOCKETS     104
297        12097 2023-09-01      WIRES & CABLES      99
311        12099 2023-09-01      WIRES & CABLES      99
...          ...        ...                 ...     ...
464        12194 2023-09-06         WATER TANKS       2
465        12194 2023-09-06     WOODEN FLOORING       2
1081       12619 2023-10-09    STRUCTURAL STEEL       2
1083       12620 2023-10-09        BINDING WIRE       2
144        11999 2023-08-07        BINDING WIRE       2

[1200 rows x 4 columns]

## --------------------------------------------------------------------------------------

## Association Rule Mining

In [91]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [92]:
te = TransactionEncoder()
trans_data = te.fit_transform(unique_data['product']).astype('int')

In [93]:
trans_data

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       ...,
       [0, 0, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [94]:
te.columns_

['ADHESIVE & SEALANT',
 'BATHROOM ACCESSORIES',
 'BINDING WIRE',
 'BULBS',
 'CONSTRUCTION CHEMICALS',
 'DRAWERS & CABINET HARDWARE',
 'ELECTRICAL CONDUITS',
 'EXTERIOR WALL PAINTS',
 'FALSE CEILING',
 'INTERIOR WALL PAINTS',
 'LED',
 'LOCKS',
 'MCB',
 'OPC',
 'PIPE FITTINGS',
 'PIPES',
 'PIPES & TUBES',
 'PLYWOOD',
 'PPC',
 'PUMPS & MOTORS',
 'PVC DOORS',
 'ROOFING SHEETS',
 'SANITARY WARE',
 'STRUCTURAL STEEL',
 'SWITCH GEAR & ACCESSORIES',
 'SWITCHES & SOCKETS',
 'TAPS & FAUCETS',
 'TILES',
 'TMT BARS',
 'UNDERCOATS',
 'WALL PUTTY',
 'WATER TANKS',
 'WIRES & CABLES',
 'WOOD & METAL',
 'WOOD COATING',
 'WOODEN DOOR',
 'WOODEN FLOORING']

In [95]:
encoded_data = pd.DataFrame(trans_data, columns=te.columns_)
encoded_data

,ADHESIVE & SEALANT,BATHROOM ACCESSORIES,BINDING WIRE,BULBS,CONSTRUCTION CHEMICALS,DRAWERS & CABINET HARDWARE,ELECTRICAL CONDUITS,EXTERIOR WALL PAINTS,FALSE CEILING,INTERIOR WALL PAINTS,...,TILES,TMT BARS,UNDERCOATS,WALL PUTTY,WATER TANKS,WIRES & CABLES,WOOD & METAL,WOOD COATING,WOODEN DOOR,WOODEN FLOORING
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,1,1,1,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0,1,0,1,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
379,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
380,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
381,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
382,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [96]:
aprio = apriori(encoded_data, min_support= 0.3, use_colnames= True)
aprio

    support                  itemsets
0  0.462141            (BINDING WIRE)
1  0.537859                     (PPC)
2  0.697128                (TMT BARS)
3  0.389034       (BINDING WIRE, PPC)
4  0.336815  (BINDING WIRE, TMT BARS)
5  0.396867           (PPC, TMT BARS)

In [97]:
association_rules(aprio, metric='confidence')

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(BINDING WIRE),(PPC),0.462141,0.537859,0.389034,0.841808,1.565109,0.140467,2.921391,0.671304

In [98]:
aprio = apriori(encoded_data, min_support= 0.1, use_colnames= True)
print(aprio)
association_rules(aprio, metric='confidence')

     support                                           itemsets
0   0.462141                                     (BINDING WIRE)
1   0.104439                                              (LED)
2   0.130548                                    (PIPES & TUBES)
3   0.537859                                              (PPC)
4   0.161880                                   (ROOFING SHEETS)
5   0.109661                               (SWITCHES & SOCKETS)
6   0.697128                                         (TMT BARS)
7   0.107050                                   (WIRES & CABLES)
8   0.127937                      (PIPES & TUBES, BINDING WIRE)
9   0.389034                                (BINDING WIRE, PPC)
10  0.161880                     (ROOFING SHEETS, BINDING WIRE)
11  0.336815                           (BINDING WIRE, TMT BARS)
12  0.101828                          (SWITCHES & SOCKETS, LED)
13  0.122715                               (PIPES & TUBES, PPC)
14  0.127937                    (ROOFING SHEETS, PIPES & TUBES)
15  0.156658                              (ROOFING SHEETS, PPC)
16  0.396867                                    (PPC, TMT BARS)
17  0.107050               (SWITCHES & SOCKETS, WIRES & CABLES)
18  0.122715                 (PIPES & TUBES, BINDING WIRE, PPC)
19  0.127937      (ROOFING SHEETS, PIPES & TUBES, BINDING WIRE)
20  0.156658                (ROOFING SHEETS, BINDING WIRE, PPC)
21  0.266319                      (BINDING WIRE, PPC, TMT BARS)
22  0.122715               (ROOFING SHEETS, PIPES & TUBES, PPC)
23  0.122715  (ROOFING SHEETS, PIPES & TUBES, BINDING WIRE, ...

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(PIPES & TUBES),(BINDING WIRE),0.130548,0.462141,0.127937,0.980000,2.120565,0.067606,26.892950,0.607771
1,(BINDING WIRE),(PPC),0.462141,0.537859,0.389034,0.841808,1.565109,0.140467,2.921391,0.671304
2,(ROOFING SHEETS),(BINDING WIRE),0.161880,0.462141,0.161880,1.000000,2.163842,0.087069,inf,0.641745
3,(SWITCHES & SOCKETS),(LED),0.109661,0.104439,0.101828,0.928571,8.891071,0.090375,12.537859,0.996842
4,(LED),(SWITCHES & SOCKETS),0.104439,0.109661,0.101828,0.975000,8.891071,0.090375,35.613577,0.991029
5,(PIPES & TUBES),(PPC),0.130548,0.537859,0.122715,0.940000,1.747670,0.052499,7.702350,0.492045
6,(PIPES & TUBES),(ROOFING SHEETS),0.130548,0.161880,0.127937,0.980000,6.053871,0.106804,41.906005,0.960164
7,(ROOFING SHEETS),(PPC),0.161880,0.537859,0.156658,0.967742,1.799248,0.069589,14.326371,0.530010
8,(SWITCHES & SOCKETS),(WIRES & CABLES),0.109661,0.107050,0.107050,0.976190,9.119048,0.095310,37.503916,1.000000
9,(WIRES & CABLES),(SWITCHES & SOCKETS),0.107050,0.109661,0.107050,1.000000,9.119048,0.095310,inf,0.997076
10,"(PIPES & TUBES, BINDING WIRE)",(PPC),0.127937,0.537859,0.122715,0.959184,1.783337,0.053903,11.322454,0.503695
11,"(PIPES & TUBES, PPC)",(BINDING WIRE),0.122715,0.462141,0.122715,1.000000,2.163842,0.066004,inf,0.613095
12,(PIPES & TUBES),"(BINDING WIRE, PPC)",0.130548,0.389034,0.122715,0.940000,2.416242,0.071928,10.182768,0.674142
13,"(ROOFING SHEETS, PIPES & TUBES)",(BINDING WIRE),0.127937,0.462141,0.127937,1.000000,2.163842,0.068812,inf,0.616766
14,"(PIPES & TUBES, BINDING WIRE)",(ROOFING SHEETS),0.127937,0.161880,0.127937,1.000000,6.177419,0.107227,inf,0.961078
15,(PIPES & TUBES),"(ROOFING SHEETS, BINDING WIRE)",0.130548,0.161880,0.127937,0.980000,6.053871,0.106804,41.906005,0.960164
16,"(ROOFING SHEETS, BINDING WIRE)",(PPC),0.161880,0.537859,0.156658,0.967742,1.799248,0.069589,14.326371,0.530010
17,"(ROOFING SHEETS, PPC)",(BINDING WIRE),0.156658,0.462141,0.156658,1.000000,2.163842,0.084260,inf,0.637771
18,(ROOFING SHEETS),"(BINDING WIRE, PPC)",0.161880,0.389034,0.156658,0.967742,2.487551,0.093681,18.939948,0.713499
19,"(ROOFING SHEETS, PIPES & TUBES)",(PPC),0.127937,0.537859,0.122715,0.959184,1.783337,0.053903,11.322454,0.503695
20,"(PIPES & TUBES, PPC)",(ROOFING SHEETS),0.122715,0.161880,0.122715,1.000000,6.177419,0.102850,inf,0.955357
21,(PIPES & TUBES),"(ROOFING SHEETS, PPC)",0.130548,0.156658,0.122715,0.940000,6.000333,0.102264,14.055701,0.958469
22,"(ROOFING SHEETS, PIPES & TUBES, BINDING WIRE)",(PPC),0.127937,0.537859,0.122715,0.959184,1.783337,0.053903,11.322454,0.503695
23,"(ROOFING SHEETS, PIPES & TUBES, PPC)",(BINDING WIRE),0.122715,0.462141,0.122715,1.000000,2.163842,0.066004,inf,0.613095
24,"(PIPES & TUBES, BINDING WIRE, PPC)",(ROOFING SHEETS),0.122715,0.161880,0.122715,1.000000,6.177419,0.102850,inf,0.955357
25,"(ROOFING SHEETS, PIPES & TUBES)","(BINDING WIRE, PPC)",0.127937,0.389034,0.122715,0.959184,2.465553,0.072943,14.968668,0.681615
26,"(PIPES & TUBES, BINDING WIRE)","(ROOFING SHEETS, PPC)",0.127937,0.156658,0.122715,0.959184,6.122789,0.102673,20.661880,0.959422
27,"(PIPES & TUBES, PPC)","(ROOFING SHEETS, BINDING WIRE)",0.122715,0.161880,0.122715,1.000000,6.177419,0.102850,inf,0.955357
28,(PIPES & TUBES),"(ROOFING SHEETS, BINDING WIRE, PPC)",0.130548,0.156658,0.122715,0.940000,6.000333,0.102264,14.055701,0.958469

## --------------------------------------------------------------------------------------

# FP Growth

In [99]:
from mlxtend.frequent_patterns import fpgrowth

fpg = fpgrowth(encoded_data, min_support= 0.3, use_colnames= True)
print(fpg)
association_rules(fpg, metric= 'confidence')

    support                  itemsets
0  0.697128                (TMT BARS)
1  0.537859                     (PPC)
2  0.462141            (BINDING WIRE)
3  0.396867           (PPC, TMT BARS)
4  0.389034       (BINDING WIRE, PPC)
5  0.336815  (BINDING WIRE, TMT BARS)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(BINDING WIRE),(PPC),0.462141,0.537859,0.389034,0.841808,1.565109,0.140467,2.921391,0.671304

## --------------------------------------------------------------------------------------

## SVD (Singular Value Decomposition)

In [100]:
# user based recommendations
data.Rank.value_counts()

1    5681
2    2983
3    1967
0    1082
4     853
5     823
6     375
7     168
8      99
9      74
Name: Rank, dtype: int64

In [101]:
data['Credit Rating'].value_counts()

5 Star    11357
3 Star     1097
0 Star      539
4 Star      523
2 Star      490
1 Star       99
Name: Credit Rating, dtype: int64

In [102]:
data.shape

(14105, 63)

In [103]:
data.columns

Index(['RepName', 'Day of Created_x', 'Customer Type', 'CustomerId',
       'Customer Name', 'Address 1_x', 'Area Name', 'City Name', 'District_x',
       'StateName_x', 'MobileNumber_x', 'Latlng_x', 'GST No_x', 'DealerId',
       'RepName_x', 'Day of Created Date', 'City Name_x', 'Area Name_x',
       'Dealer Name_x', 'Category Name_x', 'Sub-Category_x', 'Brand Name_x',
       'Dealer type', 'Rank', 'Sourcing Partner', 'SourcingPartnerType',
       'Credit Status_x', 'RepName_y', 'Day of Created_y', 'Dealer Name_y',
       'Address 1_y', 'Area Name_y', 'City Name_y', 'District_y',
       'StateName_y', 'MobileNumber_y', 'Latlng_y', 'Lot Size',
       'Customer Rating', 'Credit Rating', 'GST No_y', 'SiteId', 'Rep. Name',
       'Day of Created (sites)', 'Site Name_x', 'Address1 (sites)',
       'Area/Town', 'CityName', 'District Name_x', 'Pin Code', 'Lat.Lng.',
       'MobileNo.', 'Initial Construction Stage', 'Rep Name',
       'Day of Created (sitebrandmixlines)', 'Site Name_y', 'District Name_y',
       'Construction Stage', 'Category Name_y', 'Sub-Category_y',
       'Brand Name_y', 'Source Partner Name', 'Credit Status_y'],
      dtype='object')

In [104]:
df_2 = data[['CustomerId', 'Day of Created Date', 'Sub-Category_x', 'Credit Rating']]
df_2

       CustomerId Day of Created Date Sub-Category_x Credit Rating
0           12082      6 October 2023       TMT BARS        5 Star
1           12082      6 October 2023       TMT BARS        5 Star
2           12082      6 October 2023       TMT BARS        5 Star
3           12082      6 October 2023       TMT BARS        5 Star
4           12082      6 October 2023       TMT BARS        5 Star
...           ...                 ...            ...           ...
14100       12686     19 October 2023    WATER TANKS        5 Star
14101       12686     19 October 2023    WATER TANKS        5 Star
14102       12686     19 October 2023    WATER TANKS        5 Star
14103       12686     19 October 2023    WATER TANKS        5 Star
14104       12686     19 October 2023    WATER TANKS        5 Star

[14105 rows x 4 columns]

In [105]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_2['Credit Rating'] = le.fit_transform(df_2['Credit Rating'])

In [106]:
df_2.head(5)

   CustomerId Day of Created Date Sub-Category_x  Credit Rating
0       12082      6 October 2023       TMT BARS              5
1       12082      6 October 2023       TMT BARS              5
2       12082      6 October 2023       TMT BARS              5
3       12082      6 October 2023       TMT BARS              5
4       12082      6 October 2023       TMT BARS              5

In [107]:
df_2['Credit Rating'].value_counts()

5    11357
3     1097
0      539
4      523
2      490
1       99
Name: Credit Rating, dtype: int64

In [108]:
df_2 = df_2.groupby('CustomerId')['Credit Rating'].sum().reset_index()
df_2

     CustomerId  Credit Rating
0         11883            120
1         11885            480
2         11889             80
3         11891           1340
4         11892            255
..          ...            ...
241       12689            120
242       12690             60
243       12695             80
244       12698             60
245       12711             45

[246 rows x 2 columns]

In [109]:
df_2.sort_values(by= 'CustomerId', ascending= True, inplace= True)
df_2

     CustomerId  Credit Rating
0         11883            120
1         11885            480
2         11889             80
3         11891           1340
4         11892            255
..          ...            ...
241       12689            120
242       12690             60
243       12695             80
244       12698             60
245       12711             45

[246 rows x 2 columns]

In [110]:
unique_data.columns

Index(['customerid', 'date', 'product'], dtype='object')

In [111]:
df = unique_data.sort_values('customerid', ascending= True)

In [112]:
df.columns = ['CustomerId', 'Date', 'Product']

In [113]:
df.columns

Index(['CustomerId', 'Date', 'Product'], dtype='object')

In [114]:
df_2.columns

Index(['CustomerId', 'Credit Rating'], dtype='object')

In [115]:
df

     CustomerId       Date                                            Product
0         11883 2023-08-24  [SWITCHES & SOCKETS, WIRES & CABLES, PIPE FITT...
1         11885 2023-08-30  [LED, MCB, SWITCHES & SOCKETS, WIRES & CABLES,...
2         11889 2023-08-24                      [PPC, BINDING WIRE, TMT BARS]
3         11889 2023-10-31                                         [TMT BARS]
4         11891 2023-09-01  [BULBS, ELECTRICAL CONDUITS, LED, MCB, SWITCH ...
..          ...        ...                                                ...
378       12695 2023-08-24                      [PPC, BINDING WIRE, TMT BARS]
379       12695 2023-10-31                                         [TMT BARS]
380       12698 2023-10-09                      [PPC, BINDING WIRE, TMT BARS]
381       12711 2023-08-25                                              [PPC]
382       12711 2023-10-04                                            [TILES]

[383 rows x 3 columns]

In [116]:
df_2

     CustomerId  Credit Rating
0         11883            120
1         11885            480
2         11889             80
3         11891           1340
4         11892            255
..          ...            ...
241       12689            120
242       12690             60
243       12695             80
244       12698             60
245       12711             45

[246 rows x 2 columns]

In [117]:
df['Rating'] = df_2['Credit Rating']

In [118]:
df.head()

,CustomerId,Date,Product,Rating
0,11883,2023-08-24,"[SWITCHES & SOCKETS, WIRES & CABLES, PIPE FITT...",120.0
1,11885,2023-08-30,"[LED, MCB, SWITCHES & SOCKETS, WIRES & CABLES,...",480.0
2,11889,2023-08-24,"[PPC, BINDING WIRE, TMT BARS]",80.0
3,11889,2023-10-31,[TMT BARS],1340.0
4,11891,2023-09-01,"[BULBS, ELECTRICAL CONDUITS, LED, MCB, SWITCH ...",255.0

In [119]:
df['ProductID'] = df['Product'].apply(lambda x : hash(tuple(x)))

In [120]:
df.head(3)

,CustomerId,Date,Product,Rating,ProductID
0,11883,2023-08-24,"[SWITCHES & SOCKETS, WIRES & CABLES, PIPE FITT...",120.0,-7529291763665225393
1,11885,2023-08-30,"[LED, MCB, SWITCHES & SOCKETS, WIRES & CABLES,...",480.0,-8513608156675112514
2,11889,2023-08-24,"[PPC, BINDING WIRE, TMT BARS]",80.0,4569830532365800798

In [121]:
from surprise import Dataset, Reader, SVD
from surprise.model_selection import train_test_split
from itertools import chain

In [122]:
#  user ; item ; rating ; [timestamp]
reader = Reader(line_format= "user item rating", rating_scale= (0,5))

In [123]:
# Null Perce

df.isnull().mean()*100

CustomerId     0.000000
Date           0.000000
Product        0.000000
Rating        35.770235
ProductID      0.000000
dtype: float64

In [124]:
df.fillna(0, inplace= True)

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 383 entries, 0 to 382
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerId  383 non-null    int64
 1   Date        383 non-null    datetime64[ns]
 2   Product     383 non-null    object
 3   Rating      383 non-null    float64
 4   ProductID   383 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 18.0+ KB

In [126]:
df.columns

Index(['CustomerId', 'Date', 'Product', 'Rating', 'ProductID'], dtype='object')

In [127]:
data_for_sur = Dataset.load_from_df(df[['CustomerId', 'ProductID' , 'Rating']], reader)

In [128]:
data_for_sur

In [129]:
train_data, test_data = train_test_split(data_for_sur, test_size= 0.2)

In [130]:
train_data

In [131]:
test_data

[(12329, -2410875649291962633, 75.0),
 (11907, -8513608156675112514, 1160.0),
 (12174, -5990871260414755724, 72.0),
 (12612, -5990871260414755724, 0.0),
 (12424, -8022263129343001838, 60.0),
 (12610, 4569830532365800798, 0.0),
 (11953, 6285171292419277955, 50.0),
 (11935, 9122814396613501397, 425.0),
 (12373, 8544080048122071750, 0.0),
 (12505, -5990871260414755724, 0.0),
 (11956, 8016741703975506132, 425.0),
 (12669, 4569830532365800798, 0.0),
 (12600, -2410875649291962633, 0.0),
 (12483, -2253388087941863327, 0.0),
 (11891, 8756835395889021119, 80.0),
 (12324, -4071932779748783396, 520.0),
 (12561, 1174429510970170268, 0.0),
 (12254, 8756835395889021119, 30.0),
 (12059, -4635520485134533852, 80.0),
 (12484, -5990871260414755724, 0.0),
 (12055, -5990871260414755724, 80.0),
 (12669, -5990871260414755724, 0.0),
 (12410, -5990871260414755724, 125.0),
 (12026, -4150584028496870555, 1980.0),
 (12496, 4569830532365800798, 0.0),
 (12297, -4150584028496870555, 440.0),
 (12606, 4569830532365800798, 0.0),
 (12695, 4569830532365800798, 0.0),
 (12181, -4150584028496870555, 315.0),
 (12423, -8022263129343001838, 60.0),
 (12199, -5990871260414755724, 30.0),
 (12150, -5611835194701343816, 280.0),
 (11919, -4150584028496870555, 102.0),
 (12575, -4150584028496870555, 0.0),
 (12274, 4569830532365800798, 80.0),
 (12580, -4460334912087986891, 0.0),
 (12524, 1174429510970170268, 0.0),
 (12698, 4569830532365800798, 0.0),
 (12511, 4569830532365800798, 0.0),
 (12477, -4150584028496870555, 0.0),
 (12483, -5990871260414755724, 0.0),
 (12622, -4865164176510198251, 0.0),
 (12061, -2253388087941863327, 255.0),
 (12340, -5990871260414755724, 280.0),
 (12108, -4150584028496870555, 168.0),
 (12275, 4569830532365800798, 80.0),
 (12437, -5990871260414755724, 0.0),
 (12152, -5611835194701343816, 70.0),
 (11964, -5990871260414755724, 72.0),
 (12589, -8022263129343001838, 0.0),
 (12250, -4150584028496870555, 170.0),
 (12150, 240547628944349542, 170.0),
 (12418, -4150584028496870555, 60.0),
 (12498, -5990871260414755724, 0.0),
 (12174, -2253388087941863327, 80.0),
 (12639, -8022263129343001838, 0.0),
 (12370, -4150584028496870555, 60.0),
 (12011, -5990871260414755724, 360.0),
 (12611, 4569830532365800798, 0.0),
 (12185, 4569830532365800798, 24.0),
 (12580, -5990871260414755724, 0.0),
 (12690, 4569830532365800798, 0.0),
 (12679, -2410875649291962633, 0.0),
 (12426, 4569830532365800798, 200.0),
 (12052, -5990871260414755724, 170.0),
 (12176, -5990871260414755724, 70.0),
 (12711, 3667138693227764732, 0.0),
 (12443, -2253388087941863327, 0.0),
 (12338, -5990871260414755724, 420.0),
 (12426, -5990871260414755724, 750.0),
 (12126, 3667138693227764732, 2448.0),
 (11911, -8022263129343001838, 112.0),
 (11924, -2410875649291962633, 170.0),
 (12684, 4569830532365800798, 0.0),
 (12633, -8022263129343001838, 0.0),
 (12580, -4071932779748783396, 0.0),
 (12148, -2253388087941863327, 30.0)]

In [132]:
# Building model for the personalized recommendation
model = SVD()

In [133]:
model.fit(train_data)

In [134]:
model.predict(uid= 11891, iid= 701174210346869720)

Prediction(uid=11891, iid=701174210346869720, r_ui=None, est=5, details={'was_impossible': False})

In [135]:
def generate_recomm(cust_id, number_of_rec):
    product_overall = df['ProductID'].unique()
    product_bought = df[df['CustomerId'] == cust_id]['ProductID'].values
    prod_used_for_predicct = [ i for i in product_overall if i not in product_bought ]
    predict_recomm = [ (prod,model.predict(cust_id,prod).est) for prod in prod_used_for_predicct ]
    output_recom = [ df[df['ProductID'] == i_d]['Product'].values[0] for i_d,a in predict_recomm[:number_of_rec] ]
    out_list = list(chain.from_iterable(output_recom))
    out_list = list(set(out_list))
    return out_list

In [136]:
generate_recomm(11891,2)

['MCB',
 'INTERIOR WALL PAINTS',
 'WOOD & METAL',
 'EXTERIOR WALL PAINTS',
 'PIPE FITTINGS',
 'WATER TANKS',
 'WIRES & CABLES',
 'LED',
 'SWITCHES & SOCKETS',
 'PIPES']